{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="get">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if resultados %}
    <h3>Resultados:</h3>
    <ul style="list-style: none; padding-left: 0;">
        {% for vacuna in resultados %}
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
                {% if vacuna.imagen %}
                    <img src="{{ vacuna.imagen.url }}" alt="{{ vacuna.nombre }}" width="50" style="margin-right: 10px;">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="Sin imagen" width="50" style="margin-right: 10px;">
                {% endif %}
                <span>{{ vacuna.nombre }} - {{ vacuna.grupo_etario.nombre }}</span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron vacunas{% if request.GET.nombre %} con ese nombre{% endif %}.</p>
{% endif %}
{% endblock %}
