{% extends 'base.html' %}

{% block title %}Buscar Vacuna{% endblock %}

{% block content %}
<h2>Buscar Vacuna</h2>
<form method="get">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if resultados %}
    <h3>Resultados:</h3>
    <ul>
        {% for vacuna in resultados %}
            <li>{{ vacuna.nombre }} - {{ vacuna.grupo_etario }}</li>
        {% endfor %}
    </ul>
{% elif request.GET.nombre %}
    <p>No se encontraron vacunas con ese nombre.</p>
{% endif %}
{% endblock %}